:root {
    --yellow:#FFFF00;
    --white: #ffffff;
    --blue:  #0000FF;
  }
  
  .btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

  .btn:focus { outline-style: none; }

body {
    background: var(--bg);
}

ul {
    font-family: 'Lucida Sans';
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }

  .light-theme {
    --bg: var(--yellow);
    --fontColor: var(--blue);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  
  .dark-theme {
    --bg: var(--blue);
    --fontColor: var(--yellow);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }